.container
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.shadow-lg
        a.navbar-brand(href='/') Home
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
                li.nav-item
                    a.nav-link(href='/register-member' ) Register member
                li.nav-item
                    a.nav-link(href='/edit-member/560' ) Edit member
                li.nav-item
                    a.nav-link(href='/details-member/560' ) Details member
                li.nav-item
                    a.nav-link(href='/history-member/560' ) History member
                li.nav-item
                    a.nav-link(href='/admin') Admin


