script(src='/js/jquery-3.4.1.min.js')
script(src='/js/jquery-ui.min.js')
script(src='/js/bootstrap.bundle.min.js')
script(src='/js/jquery.dataTables.min.js')
script(src='/js/dataTables.bootstrap4.min.js')
script(src='/js/main-client.js')
