// Google font
link(href='https://fonts.googleapis.com/css?family=Montserrat:400' rel='stylesheet')
link(href='https://fonts.googleapis.com/css?family=Chango' rel='stylesheet')
link(rel='stylesheet' href='/css/bootstrap.min.css')
link(rel='stylesheet' href='/css/jquery-ui.min.css')
link(rel='stylesheet' href='/css/dataTables.bootstrap4.min.css')
link(rel='stylesheet' href='/css/style.css')
link(rel='stylesheet' href='/css/style-error.css')