doctype html
html(lang='en')
    include _header

    body
        include _navbar
        .container
            h1.h1 Edit member
            form(action='/edit-member' method='post')
                .form-group
                    label(for='firstName') First Name
                    input#firstName.form-control(type='text', name='firstName')
                .form-group
                    label(for='lastName') Last Name
                    input#lastName.form-control(type='text', name='lastName')
                .form-group
                    label(for='clientId') Client ID
                    input#clientId.form-control(type='number', name='clientId')
                .form-group
                    label(for='newClientId') New Client ID
                    input#newClientId.form-control(type='number', name='newClientId')
                .form-group
                    label(for='startMemberDate') Start Member Date
                    input#startMemberDate.form-control(type='date', name='startMemberDate')
                .form-group
                    label(for='endMemberDate') End Member Date
                    input#endMemberDate.form-control(type='date', name='endMemberDate')
                button.btn.btn-danger.mr-5(type='reset') Back
                button.btn.btn-primary(type='submit') Save

        include _scripts