doctype html
html(lang='en')
    include _header
    body
        include _navbar
        .container
            .home.shadow-lg
                .row.text-center.justify-content-between
                    .col-md-4.col-lg-3
                        .card.text-white.text-center.bg-info.shadow-lg
                            .card-header Sport GYM App
                            .card-body
                                h5.card-title Welcome
                    .col-md-4.col-lg-3
                        .card.text-white.text-center.bg-primary.shadow-lg
                            .card-header Total Members
                            .card-body
                                h5.card-title #{clientsInfo.length}
            hr
       
        if clientsInfo.length
            .container
                .table-responsive.shadow-lg
                    table.example.table.table-hover.table-striped.table-bordered
                        thead.thead-dark
                            tr
                                th(scope='col') #
                                th(scope='col')  Member ID
                                th(scope='col') Name
                                th(scope='col') Show member
                        tbody
                            each value, index in clientsInfo
                                tr
                                    th(scope='row') #{index + 1}
                                    td= value.clientId
                                    td= value.firstName + ' ' + value.lastName
                                    td
                                        a(href='/details-member/'+value.clientId).btn.btn-primary Show member

        include _scripts
