doctype html
html(lang='en')
    include _header

    body
        include _navbar
        .container
            .register-member
                .row.justify-content-center
                    .col-8
                        h4.h4 Register a New Member
                        hr
                        form(action='/register-member', method='post', novalidate).needs-validation
                            .form-group
                                label(for='firstName') First Name
                                input#firstName.form-control(type='text', name='firstName', required, maxlength="30")
                                .valid-feedback Looks good!
                                .invalid-feedback You have to provide first name!
                            .form-group
                                label(for='lastName') Last Name
                                input#lastName.form-control(type='text', name='lastName', required, maxlength="30")
                                .valid-feedback Looks good!
                                .invalid-feedback You have to provide last name!
                            .form-group
                                label(for='clientId') Member ID
                                input#clientId.form-control(type='number', name='clientId', required)
                                .valid-feedback Looks good!
                                .invalid-feedback You have to provide ID
                            .form-group
                                label(for='membershipStartingDate') Membership Date
                                input#membershipStartingDate.form-control(type='text', name='membershipStartingDate',readonly="readonly", required)
                                .valid-feedback Looks good!
                                .invalid-feedback You have to provide date
                            .form-group
                                label(for='membershipExpiryDate') Membership Expiry Date
                                input#membershipExpiryDate.form-control(type='text', name='membershipExpiryDate',readonly="readonly", required)
                                .valid-feedback Looks good!
                                .invalid-feedback You have to provide date
                            button.btn.btn-danger.mr-5(type='reset') Reset
                            button.btn.btn-primary(type='submit') Register


        include _scripts